@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
/*
  Note that we didn't add :host here, because this
  would affect the layout of the web component
*/
html,
body {
	height: 100%;
	margin: 0;
}
/*
  Added :host because we also use web components
*/
body,
:host {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/* etc... */

/* Global app styles */
body,
:host {
	font-family: 'Great Font', sans-serif;
}

h1,
h2,
h3,
h4,
p {
	font-family: 'Karla', sans-serif;
}
